html {
    height: 100%;
    width: 100%;
}

body.index
{
    min-height: 80%;
    width: 70%;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;

    border-width: 8px;
    border-color: #333;
    border-style: none solid solid solid;
}

.dc
{
  width: 60px;
  height: 60px;
}

.dce
{
  width: 120px;
  height: 60px;
}

h1.index
{
    color: darkgray;
    text-align: center;
}

div.form
{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.icon {
    background: url('/esp8266_1.svg');
    height: 20px;
    width: 20px;
    display: block;
    /* Other styles here */
}


.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the buttons that are used to open the tab content */
.topnav button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    color: #999;
    font-weight: bold;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.topnav button:hover {
    background-color: #404040;
}

/* Create an active/current tablink class */
.topnav button.active {
    background-color: #444;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.topnav-right {
    float: right;
}

.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.control-button:hover
{
    opacity: 0.8;
    transition: 100ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 100ms;
    -webkit-transition-timing-function: ease-in-out;
}
